@media only screen and (max-width:930px) {
    .blocks {
        flex-direction: column;
        align-items: center;
    }
    .container {
        top: 20vh;
        background-color: rgba(0, 0, 0, 0.527);
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
        /* box-shadow: 0 -25px 50px 30px rgba(0, 0, 0, 0.527); */
        box-shadow: 0 -25px 50px 30px rgba(24, 137, 230, 0.527);
    }
    .dp_img {
        width: 170px;
    }
    .name-container {
        padding: 5px 5px 5px 5px;
    }
    .name {
        font-size: 25px;
        overflow-wrap: inherit;
    }
    .as-a {
        font-size: 20px;
    }
    .desc {
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .p_body {
        width: 70vw;
        height: auto;
    }
    .p_body:hover {
        width: 70vw;
        height: auto;
    }
}