@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200&display=swap');
body,
html {
    background-color: rgb(46, 44, 44);
}

.container {
    height: auto;
    width: 70vw;
    left: 50%;
    top: 20vh;
    position: absolute;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.527);
    padding-bottom: 50px;
    margin-bottom: 7vh;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 200px 50px rgba(24, 137, 230, 0.527);
}

.dp_img {
    width: 15vw;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 100px 30px rgba(230, 148, 24, 0.288);
}

.name {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
    color: white;
    letter-spacing: 10px;
    word-spacing: 20px;
    background-color: transparent;
    text-shadow: 0px 0px 10px rgba(151, 3, 250, 0.938);
}

.desc-container {
    font-family: 'Lobster Two', cursive;
    color: white;
    font-size: 30px;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.as-a {
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    letter-spacing: 5px;
    word-spacing: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(13, 176, 252);
    box-shadow: 0 0 1000px 15px rgb(13, 176, 252);
}

.progress-bar {
    height: 20px;
    width: 200px;
    background-color: grey;
    border-radius: 1rem;
}

.progress {
    height: 20px;
    background-color: rgba(0, 4, 250, 0.555);
    font-size: 15px;
    font-family: verdana;
    border-radius: 1rem;
}

.lang-info {
    margin-top: 10px;
    background-color: rgb(49, 37, 46);
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s;
}

.lang-info:hover {
    box-shadow: 0px 0px 100px 10px rgba(230, 15, 15, 0.521);
    position: relative;
}

._exp {
    font-size: 20px;
    font-family: 'Rokkitt', serif;
    margin-top: 10px;
}

.blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.legend_o {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 20px;
}

.divider {
    background-color: rgb(70, 67, 67) !important;
    height: 3px;
    width: 90%;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.link-block {
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
}

.p_body {
    background-color: rgb(49, 37, 46);
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
    width: 20vw;
    height: auto;
    transition: 0.5s;
}

.p_body:hover {
    box-shadow: 0px 0px 50px rgb(6, 89, 100);
    position: relative;
    width: 23vw;
    height: auto;
}

.p_name {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
}

.p_desc {
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
    margin: 5px 5px 5px 5px;
}

.p_link {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.text {
    text-shadow: 0 0 150px rgb(0, 140, 255);
}